<header class="u-text-center u-fixed u-width u-bgcolor-secondary u-color-white">
  <div class="u-pl-x6 u-inline-block u-type-small">
    <span class="u-inline-block u-pr-x8"
      >default<br />
      ( >= 0px )</span
    >
    <span class="u-hidden u-inline-block@xs u-pr-x8"
      >XS<br />
      ( > 640px )</span
    >
    <span class="u-hidden u-inline-block@sm u-pr-x8"
      >SM <br />
      ( > 768px )</span
    >
    <span class="u-hidden u-inline-block@md u-pr-x8"
      >MD <br />
      ( > 1024px )</span
    >
    <span class="u-hidden u-inline-block@lg u-pr-x8"
      >LG <br />
      ( > 1280px )</span
    >
  </div>
</header>
